@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playball&family=Playfair+Display:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-script: "Playball", cursive;
}

@layer utilities {
  @media print {
    @page {
      margin: 1.5cm;
      size: A4 portrait;
    }
    body {
      background-color: white !important;
      -webkit-print-color-adjust: exact !important;
      print-color-adjust: exact !important;
    }
  }
}
